atlasify==0.8.0
coverage==6.3.1
h5py>=3.13.0
ipython==8.32.0
matplotlib==3.9.2
numpy>=2.2.4
pandas>=2.2.3
pre-commit==3.5.0
pydot==1.4.2
pytest-cov==4.0.0
pytest-randomly==3.11.0
pytest==7.2.2
pyyaml-include==1.3
scipy>=1.15.2
tables>=3.10.1
testfixtures==7.0.0
palettable==3.3.0
atlas-ftag-tools==0.2.10
