name: Coverage
on:
  pull_request:
    branches:
      - '*'
jobs:
  unit_tests:
    name: Check coverage
    runs-on: ubuntu-latest
    container: python:3.8-slim
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - run: pip install -e . # install in editable mode for coverage to work
      - run: pip install flake8 pytest pytest-cov
      - name: Create output for coverage comment
        run: pytest -v --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=puma puma/tests/ | tee pytest-coverage.txt
      - name: Post coverage comment
        if: "! github.event.pull_request.head.repo.fork "  # only run this if the pull request is not from a fork
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml
          create-new-comment: false