name: Linting
on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - 'main'
jobs:
  linter:
    runs-on: ubuntu-latest
    container: python:3.8-alpine3.15
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - run: pip install flake8
      - run: flake8 .
  pylint:
    runs-on: ubuntu-latest
    container: python:3.8-alpine3.15
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install requirements
        run: pip install -r requirements.txt
      - run: pip install .
      - run: pylint -j2 ./puma
      - run: pylint -j2 ./examples/*.py
  darglint:
    runs-on: ubuntu-latest
    container: python:3.8-alpine3.15
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install darglint
        run: pip install darglint==1.8.1
      - run: darglint .
  black:
    runs-on: ubuntu-latest
    container: python:3.8-alpine3.15
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install black
        run: pip install black==22.3.0
      - run: black --check .
