name: Update TODO Issue
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  update_issue:
    name: Update the TODO Issue
    runs-on: ubuntu-latest
    container: python:3.11.10-slim-bullseye
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install pylint
        run: pip install pylint==2.12.2
      - run: pip install .
      - name: Extract TODOs from pylint output # the output is saved as todo_comment_body.txt
        run: python .github/workflows/github_update_todo.py
      - name: Get comment content
        id: get-comment-body
        run: |
          body="$(cat todo_comment_body.txt)"
          echo "::set-output name=body::$body"
      - name: Update comment
        uses: peter-evans/create-or-update-comment@v2
        with:
          issue-number: 63
          comment-id: 1144509025
          body: ${{ steps.get-comment-body.outputs.body }}
          edit-mode: replace
